*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#000;
color:#fff;
overflow-x:hidden;
}

.video-bg{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
}

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
z-index:-1;
}

header{
text-align:center;
padding:120px 20px 80px;
}

h1{
font-size:48px;
letter-spacing:3px;
}

.section-title{
text-align:center;
margin-bottom:40px;
font-size:28px;
}

.buy-main{
margin-top:30px;
padding:15px 35px;
background:#ff0055;
border:none;
color:white;
font-size:18px;
cursor:pointer;
border-radius:6px;
transition:.3s;
}

.buy-main:hover{
background:#ff2a73;
}

section{
padding:60px 20px;
max-width:1100px;
margin:auto;
}

.concerts{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.card{
background:#111;
border-radius:10px;
overflow:hidden;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card-content{
padding:20px;
}

.date{
font-size:18px;
margin-bottom:10px;
}

.buy-btn{
background:#ff0055;
border:none;
padding:10px 20px;
color:white;
cursor:pointer;
border-radius:5px;
}

.mute-btn{
position:fixed;
bottom:20px;
right:20px;
background:#000;
border:1px solid #fff;
color:#fff;
padding:10px 15px;
cursor:pointer;
z-index:5;
}

.trust-bar{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
background:#111;
padding:15px;
font-size:14px;
}


.about{
padding:100px 20px;
background:transparent; /* arkaplan yok */
}

.about-container{
max-width:900px;
margin:auto;
text-align:center;
}

.about h2{
font-size:34px;
margin-bottom:25px;
letter-spacing:2px;
color:#fff;
text-shadow:0 0 15px rgba(0,0,0,0.8);
}

.about p{
font-size:16px;
line-height:1.9;
color:#eee;
margin-bottom:18px;
text-shadow:0 0 10px rgba(0,0,0,0.9);
}





.about{
padding:120px 20px;
background:linear-gradient(
to bottom,
rgba(0,0,0,0.4),
rgba(0,0,0,0.7),
rgba(0,0,0,0.4)
);
}

.about{
padding:120px 20px;
background:none;
}


.about h2{
font-size:32px;
margin-bottom:25px;
letter-spacing:2px;
color:#fff;
text-shadow:0 0 10px #ff0055;
}

.trust{
margin-top:20px;
color:#fff;
font-weight:500;
letter-spacing:1px;
}